#buttonContainer{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: gray;
    
}

button{
    background-color: whitesmoke;
    padding: 24px;
}

#scoreboard{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color:bisque;
}

